@charset "UTF-8";

/* style dos textos e body da plataforma */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body * {
  color: var(--color-text);
  font-family: sans-serif;
}

:root {
  --color-text: white;
  --bg-url: url(image/bg-mobile.jpg);
  --filter-icon: none;
  --surface-color: rgba(255, 255, 255, 0.5);
  --stroke-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --button-bg-mode: url(./image/sun.png)
}

.light {
  --color-text: black;
  --bg-url: url(image/bg-mobile-light.jpg);
  --filter-icon: invert(1) brightness(0);
  --surface-color: rgba(0, 0, 0, 0.05);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --button-bg-mode: url(./image/moon.png)
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100%;
}

#switch button {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1) var(--button-bg-mode) no-repeat center/cover;
    border: none;

    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    animation: slide-off 0.2s;
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

#switch {
    width: 64px;
    position: relative;

    margin: 12px auto;
}

.light #switch button {
    animation: slide-on 0.2s forwards;
}

#switch button:hover {
    outline: 8px solid var(--highlight-color);
}

/*profile*/

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile p {
  font-weight: 500;
  text-align: center;
  margin-top: 16px;
}

#profile img {
  height: 112px;
  display: block;
  margin: auto;
}

/* programando as listas */

a, li {
  text-decoration: none;
  list-style: none;
  border-radius: 8px;
  margin: 8px;
}

ul li a {
  background: var(--surface-color);
  border: var(--stroke-color) 1px solid;

  padding: 16px 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  font-weight: 500;

  transition: background 0.5s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1px solid var(--color-text);
}

/* alinahando os links */

#social-links {
  display: flex;
  justify-content: center;
  text-align: center;
}

#social-links a {
  display: flex;

  padding: 16px;
}

#social-links a img {
  filter: var(--filter-icon);
}

#social-links a:hover {
  background: var(--highlight-color);
  border-radius: 50%;
}

/*ajustando o foooter*/

footer {
  margin-top: 12px;
  text-align: center;
  font-weight: 500;
  font-size: 1.1em;
}

footer a:hover {
  text-decoration: underline;
}

@media (min-width: 700px) {
    :root {
        --bg-url: url(./image/bg-desktop.jpg);
    }
    .light {
        --bg-url: url(./image/bg-desktop-light.jpg);
    }
}

/*editando o animation*/

@keyframes slide-on {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-off {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}